[core]
	excludesfile = ~/.gitignore
	editor = code --wait
[color]
        ui = true
[diff]
  tool = vscode
[difftool]
	prompt = false
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool]
	prompt = false
[mergetool "vscode"]
  cmd = code --wait $MERGED
[user]
	name = Michael L. Fleet
	email = f1337@f1337.us
[pull]
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
