[core]
	excludesfile = ~/.gitignore
	editor = $(which code) --wait
[diff]
  tool = vscode
[difftool]
	prompt = false
[difftool "vscode"]
  cmd = $(which code) --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool]
	prompt = false
[mergetool "vscode"]
  cmd = $(which code) --wait $MERGED
[user]
	name = Michael L. Fleet
[pull]
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
