"*":
  "atom-beautify":
    json:
      brace_style: "expand"
  core:
    packagesWithKeymapsDisabled: [
      "ruby-test"
      "toggle-gutter"
    ]
    telemetryConsent: "limited"
  editor:
    fontFamily: "Operator Mono SSm"
    fontSize: 17
    preferredLineLength: 100
    showInvisibles: true
  "ruby-test":
    rspecAllCommand: "rspec --tty spec --fail-fast"
    rspecFileCommand: "rspec --tty {relative_path} --fail-fast"
    rspecSingleCommand: "rspec --tty {relative_path}:{line_number} --fail-fast"
    shell: "fish"
    specFramework: "rspec"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.jade"
      "text.markdown.filter.jade"
    ]
  "toggle-gutter":
    showNumbers: true
  welcome:
    showOnStartup: false
